<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/c9adb301-0b9e-4107-8224-a84e8b533b57/resourceGroups/ApiAdn/providers/Microsoft.ContainerRegistry/registries/ApiAdn</ResourceId>
    <ResourceName>ApiAdn</ResourceName>
    <ResourceGroup>ApiAdn</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://apiadn.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>3e9324a8-15f0-4768-9ede-a786ef1efbe7</ProjectGuid>
  </PropertyGroup>
</Project>